.container {
  padding: 1.5rem;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .container {
    padding: 2rem;
    max-width: 700px;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 1rem;
    max-width: 100%;
  }
}
